@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* Tanmoy Das */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
body {
	margin:0;
	padding:0px 0 0px 0;
	font:normal 13px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#000;
	background:#ffffff;
}
@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/bebas-webfont.eot');
    src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas-webfont.woff') format('woff'),
         url('../fonts/bebas-webfont.ttf') format('truetype'),
         url('../fonts/bebas-webfont.svgz#BebasRegular') format('svg'),
         url('../fonts/bebas-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*======================general==========================*/	
  div, tr, td, img, form, input, select, p, h1, h2, h3, h4, h5, h6, ul, li, label, textarea, chexbox, radiobutton, ol, option {
	padding:0;
	margin:0;
}
ul {
	padding:0;
	margin:0;
	list-style:none;
}
ol {
	padding:0;
	margin:0;
	list-style-type:none;
}
a {
	padding:0;
	margin:0;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
img {
	padding:0;
	margin:0;
	outline:none;
	border:0;
}
chexbox {
	padding:0;
	margin:0;
	width:20px;
	height:20px;
}
.spacer {
	padding:0;
	margin:0;
	font-size:0;
	line-height:0;
	clear:both;
}
/*=======header part start======*/
header{
		width:100%;
}
/*=======top part start======*/
header .top_part{
		height:150px;
}
header .top_part article{
		margin:0 auto;
		width:1171px;
}
header .top_part article figure{
		float:left;
		margin:0;
		padding:16px 0 0 0;
}
header .top_part article figure img{
		display:block;
}
header .top_part article .top_right_part{
		float:right;
		margin:0;
}
header .top_part article .top_right_part .follow{
		text-align:right;
		padding:10px 0 0 0;
		float:right;
}
header .top_part article .top_right_part .follow h4{
		text-align:right;
		padding:0 0 0 10px;
		float:right;
}
header .top_part article .top_right_part .follow h3{
	font-family:"franklin_gothic_medium_condRg";
	text-transform:uppercase;
	font-size:18px;
	color:#054586;
	float:left;
	line-height:40px;
	padding:0 5px;
}
header .top_part article .top_right_part .follow ul {
	float:left;
	margin:10px 0 0 0;
}

header .top_part article .top_right_part .top_text{
	margin:20px 0 0 0;
	width:876px;
	text-align:right;
}

header .top_part article .top_text h1{
	font-family:"calibriregular";
	font-size:14px;
	color:#636363;
	float:right;
	padding:5px 10px 5px 20px;
	margin:0 0px 0 0;
	background: url(../images/mail.jpg) left center no-repeat;
}
header .top_part article .top_text h2{
	font-family:"calibriregular";
	font-size:14px;
	color:#636363;
	float:right;
	text-align:right;
	line-height:30px;
	padding:0px 0px 0 32px;
	margin:0 18px 0 0;
	background: url(../images/phone.jpg) 10px center no-repeat;
}
header .top_part article .top_text h2 span{
	color:#181818;
}
header .top_part article .top_right_part nav{
		float:right;
		padding:0;
		margin:36px 0 0 0px;
		position:relative;
		z-index:100000;
}
header .top_part article .top_right_part nav ul{
		padding:0;
		margin:0;
}
header .top_part article .top_right_part nav ul li{
		float:left;
		padding:0 1px;
		text-transform:uppercase;
		position:relative;
}
header .top_part article .top_right_part nav ul li a{
		font-family: 'Oswald', sans-serif;
		font-size:24px;
		line-height:49px;
		color:#000;
		padding:0 21px;
		float:left;
		
}
header .top_part article .top_right_part nav ul li a:hover, header .top_part article .top_right_part nav ul li.current-menu-item a{
		font-family: 'Oswald', sans-serif;
		color:#ea0000;
}
header .top_part article .top_right_part nav ul li:hover a {color:#ea0000;}
header .top_part article .top_right_part nav ul ul {background:#e8e8e8; padding:0px 0 0 0; position:absolute; top:44px; right:0; display:none; width:160px; margin:0; z-index:99;}
header .top_part article .top_right_part nav ul ul li {float:none; margin:0; padding:0; font-size:14px; font-weight:normal; line-height:20px; color:#FFFFFF; text-align:left; display:block;}
header .top_part article .top_right_part nav ul li:hover > ul {display: block; z-index:100;}
header .top_part article .top_right_part nav ul ul li a {color:#000 !important; text-decoration:none; padding:8px 15px !important; background:none; white-space:nowrap; display:block; font-size:16px; line-height:24px; float:none;}
header .top_part article .top_right_part nav ul ul li a:hover, header .top_part article .top_right_part nav ul ul li a.select {color:#ea0000 !important; }
header .top_part article .top_right_part nav ul li ul li ul {position: absolute; top:0; right:100%; display: none;}
.iphone_banner{
	display:none;
	}





#banner .top_part{
		width:auto;
		padding:9px 0;
		margin:0;
		position:relative;
		z-index:9;
}
#banner .top_part article{
		width:100%;
		margin:0 auto;
}
#banner .top_part article figure{
		float:left;
		margin:0;
		padding:22px 0 0 0;
}
#banner .top_part article figure img{
		display:block;
}
#banner .top_part article .top_right_part{
		float:right;
		margin:0;
}
#banner .top_part article .top_right_part h2{
		text-align:right;
		font:normal 14px Arial, Helvetica, sans-serif;
		line-height:20px;
		color:#343434;
}
#banner .top_part article .top_right_part h2 a{
		color:#343434;
}
#banner .top_part article .top_right_part h2 span{
		font:normal 25px Arial, Helvetica, sans-serif;
		line-height:25px;
		color:#343434;
		display:block;
		margin:0 0 12px 0px;
}
#banner .top_part article .top_right_part nav{
		float:right;
		padding:0;
		margin:18px 0 0 0px;
}
#banner .top_part article .top_right_part nav ul{
		padding:0;
		margin:0;
}
#banner .top_part article .top_right_part nav ul li{
		float:left;
		padding:0 3px;
		text-transform:uppercase;
}
#banner .top_part article .top_right_part nav ul li a{
		font:bold 16px Arial, Helvetica, sans-serif;
		line-height:39px;
		color:#898989;
		padding:0 15px;
		float:left;
		border:1px solid transparent;
}
#banner .top_part article .top_right_part nav ul li a:hover, #banner .top_part article .top_right_part nav ul li a.active{
		font:bold 16px Arial, Helvetica, sans-serif;
		line-height:37px;
		color:#fff;
		float:left;
		background:#2bb9f9;
		border-radius:20px;
}
header .header_banner_part{
		background:url(../images/banner_bg.jpg) center top repeat-x;
		height:596px;
		width:100%;
		position:relative;
		z-index:99999;
}
header .header_banner_part .banner{
	margin:0 auto;
	text-align:center;
}
.banner_text_center{
	 width:1171px;
	 margin:0 auto;
	 position:relative;
	}
.banner_hadder{
	position:absolute;
	top:485px;
	margin:0 auto !important;
	width:1171px !important;
	z-index:99999;
	}
.banner_hadder .txtbk{
	background-color: rgba(255, 255, 255, 0.70);
	z-index:999999;
	text-align:center;
	position:relative;	
	height:113px;
	border-bottom:solid 1px #afafae;
	top:-3px;		
}
.banner_hadder .txtbk h1{	
	font:72px "BebasRegular";
	color:#000;
	line-height:113px;
	padding:0px 0 0 0;
	margin:0;
}
.banner_hadder .txtbk h3{	
	font:32px "BebasRegular";
	color:#000;
	line-height:44px;
	padding:13px 0 0 0;
	margin:0;
}

nav a#pull {
	display: none;
}
.bxslider li img{
	display:none !important;
	}

.bxslider li{
	height:596px;
	margin:1px 0 0 0;
	}





/*=======top part end======*/
/*=======header part end======*/
/*=======body container part======*/
#body_cotainer_part{
		width:100%;
		border-bottom:1px solid #ccc;
}
#body_cotainer_part .top_information_part2{
		width:1171px;
		padding:0px 0 0 0;
		margin:0 auto;
		position:relative;
}
#body_cotainer_part .top_information_part2 h2{
	text-align:center;
	color:#e70c0a;
	font-size:36px;
	font-family: 'Oswald', sans-serif;
	padding:35px 0 20px 0;
	text-transform:uppercase;
	line-height:40px;
	position:relative;
}
#body_cotainer_part .top_information_part2 h2 span{
	color:#232323;
	font-size:30px;
	line-height:32px;
}





#body_cotainer_part .top_information_part2 .line{
	position:absolute;
	top:193px;
	left:550px;
	z-index:99999;
}
#body_cotainer_part2{
		width:1171px;
		margin:0 auto;
		padding:50px 0 0 0;
}
#body_cotainer_part2 p{
	text-align:center;
	font-family:"calibriregular";
	font-size:14px;
	color:#232323;
	line-height:20px;
	padding:0 0 20px 0;
}
#body_cotainer_part2 h3{
	text-align:center;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#232323;
	line-height:50px;
	padding:0 0 10px 0;
}

#body_cotainer_part3{
		width:1171px;
		margin:0 auto;
		padding:50px 0 0 0;
}
#body_cotainer_part3 p{
	text-align:center;
	font-family:"calibriregular";
	font-size:14px;
	color:#232323;
	line-height:20px;
	padding:0 0 20px 0;
}
#body_cotainer_part3 h3{
	text-align:center;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#232323;
	line-height:50px;
	padding:0 0 10px 0;
}




#body_cotainer_part2_inner{
		width:1171px;
		margin:0 auto;
		padding:10px 0 20px 0;
		min-height:550px;
}
#body_cotainer_part2_inner p{
	font-family:"calibriregular";
	font-size:14px;
	color:#232323;
	line-height:20px;
	padding:0 0 20px 0;
}
#body_cotainer_part2_inner h1{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:40px;
	color:#232323;
	line-height:50px;
	padding:25px 0 10px 0;
	border-top:1px solid #ccc;
}
#body_cotainer_part2_inner h2{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:35px;
	color:#232323;
	line-height:45px;
	padding:10px 0 10px 0;
}
#body_cotainer_part2_inner h3{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#232323;
	line-height:40px;
	padding:10px 0 10px 0;
}
#body_cotainer_part2_inner h4{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:25px;
	color:#232323;
	line-height:32px;
	padding:10px 0 10px 0;
}
#body_cotainer_part2_inner h5{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:20px;
	color:#232323;
	line-height:25px;
	padding:10px 0 10px 0;
}
#body_cotainer_part2_inner h6{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:16px;
	color:#232323;
	line-height:20px;
	padding:10px 0 10px 0;
}

#left_box1{
	width:575px;
	float:left;
	border-bottom:1px solid #ccc;
	
	margin-bottom:20px;
	}
.box1{
	border-left:1px solid #d1d1d1;
	border-top:1px solid #d1d1d1;
	}
	
.box1:nth-child(10){
	border-bottom:1px solid #d1d1d1;
	}
	
	
.box1 .s1{
	width:29px;
	float: left;
	line-height:110px;
	padding:0 0 0 10px;
	background-color:#f5f4f4;
	font-size:24px;
	font-family:"BebasRegular";
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	}
.box1 .s2{
	padding:12px 0 20px 10px;
	color:#232323;
	font-family:"calibriregular";
	font-size:18px;
	font-weight:bold;
	float:left !important;
	display:block;
	width:510px;
	min-height:78px;
	}
.box1 .s2 a{
	color:#232323;
	text-decoration:none;
	}
	
#right_box1{
	width:575px;
	float:left;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	}
/*=======body container part end======*/
/*=======footer container part======*/
footer{
	width:100%;
	margin:0 auto;
	background-color:#000;
	height:141px;
	text-align:center;
	padding:23px 0 0 0;
	}
.face{
	background: url(../images/social.png) 0px 0px no-repeat;
	display:block;
	width:38px;
	height:38px;
	margin:0 0px 0 0;
}

.twtter{
	background: url(../images/social.png) 0px -39px no-repeat;
	display:block;
	width:38px;
	height:38px;
	margin:0 10px 0 0;
}
.in{
	background: url(../images/social.png) 0px -77px no-repeat;
	display:block;
	width:38px;
	height:38px;
	margin:0 10px 0 0;
}
.gmail{
	background: url(../images/social.png) 0px -117px no-repeat;
	display:block;
	width:38px;
	height:38px;
}
.gmail2{
	background: url(../images/social.png) 0px -156px no-repeat;
	display:block;
	width:38px;
	height:38px;
}
.soce{
	width:1170px;
	margin:0 auto;
	text-align:center;
	}
.footer_body{
	width: 1171px;
	margin:0 auto;
	color:#FFF;
	font-family:"calibriregular";
	}
.footer_body a{
	display:inline-block;
	margin:0 auto;
	padding:0px 2px;
	}
.bottom_footer{
	text-align:center;
	}
.bottom_footer img{
	padding:10px 0 0 0;
	}
.bottom_footer ul{
	padding:14px 0 10px 0;
	}
.bottom_footer ul li{
	display:inline;
	padding:0 7px 0 0;
	position:relative;
	color:#ffffff;
	font-size:14px;
	font-family:"calibriregular";
	}
/*.bottom_footer ul li:after {
	content:"--";
	position:absolute;
	right:4px;
	top:0;
}*/
.bottom_footer ul li a{
	color:#ffffff;
	font-size:14px;
	font-family:"calibriregular";
	}
.bottom_footer ul li a:hover, .bottom_footer ul li.current-menu-item a{
	color:#666;
	}
.bottom_footer a{
	color:#FFF;
	}
.bottom_footer a:hover{
	color:#666;
	}
.right_box{
	float:right;
	padding:10px 0px 0 0;
	}

/*=======footer container part end======*/
/*=======footer bottom end======*/
.form_contact{
		margin:20px 0 0 0px;
		width:60%;
		float:left;
}
.form_contact label{
		float:left;
		width:120px;
		font:bold 13px Arial, Helvetica, sans-serif;
		line-height:30px;
		color:#939393;
}
.form_contact input[type=text]{
		width:90%;
		height:40px;
		background-color:#f5f5f5;
		padding:0 0 0 10px;
		margin:8px 0 8px 0;
		border-radius:5px;
		font:normal 12px Arial, Helvetica, sans-serif;
		line-height:30px;
		color:#000;
		outline:none;
		border:none;
}
.form_contact select{
		width:92%;
		height:40px;
		background-color:#f5f5f5;
		padding:10px;
		margin:8px 0 8px 0;
		border-radius:5px;
		font:normal 12px Arial, Helvetica, sans-serif;
		line-height:30px;
		color:#000;
		outline:none;
		border:none;
}
.form_contact textarea{
		width:90%;
		height:130px;
		background-color:#f5f5f5;
		padding:5px 0 0 10px;
		margin:8px 0 8px 0;
		border-radius:5px;
		font:normal 12px Arial, Helvetica, sans-serif;
		line-height:16px;
		color:#000;
		outline:none;
		border:none;
}		
.form_contact input[type=submit]{
		background-color:#e70c0a;
		padding:6px 15px;
		font:bold 14px Arial, Helvetica, sans-serif;
		line-height:14px;
		color:#fff;
		border:none;
		outline:none;
		border-radius:5px;
		margin:12px 0 15px 0px;
		cursor:pointer;
}
.form_contact input[type=reset]{
		background-color:#e70c0a;
		padding:6px 15px;
		font:bold 14px Arial, Helvetica, sans-serif;
		line-height:14px;
		color:#fff;
		border:none;
		outline:none;
		border-radius:5px;
		margin:12px 0 15px 0px;
		cursor:pointer;
}
.form_contact label span.red{
		color:#FF0000;
}
.map_part{
		width:35%;
		float:left;
		border:3px solid #d4d4d4;
		padding:10px;
		margin:50px 0 0 0px;
}
.map_part h6{
		font:normal 20px "swis721_cn_btbold";
		line-height:20px;
		color:#7E1A16;
		padding:15px 0 0px 0px;
}



#wpcf7-f23-o1 .wpcf7-form p br{ display:none;}
#body_cotainer_part2_inner li{ list-style:none;}
#body_cotainer_part2_inner li h2{ font:24px 'Oswald',sans-serif; color:#EA0000;}

.wp-polls{ 
width:280px;
border:solid 1px #ccc;
padding:10px;
margin:10px 0 15px 0;
}
.wp-polls p{
text-align:left !important;
font:bold 13px Arial, Helvetica, sans-serif;
color:#000;
text-transform:uppercase;
padding:0;
margin:10px 0 12px 0;
}
.wp-polls-ans{}
.wp-polls-ans ul{ padding:0; margin:0;}
.wp-polls-ans ul li{ list-style:none;margin:12px 0;}
.wp-polls-ans ul li .pollbar{
background:#d70f00;
height:12px;	
}
/*.wp-polls-ans p input{
background:#d70f00;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;	
text-align:center;
line-height:25px;
padding:0 10px;
border:none;
cursor:pointer;
}
*/
.wp-polls-ans a{ color:#000;}
.wp-polls-ans p .Buttons {
background:#d70f00;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;	
text-align:center;
line-height:25px;
padding:0 10px;
border:none;
cursor:pointer;
}
.wp-polls-ans ul li strong i{
font:14px Arial, Helvetica, sans-serif;
color:#333;
line-height:18px;
padding:2px 0 5px 0;	
}

#commentform p label{ 
display: inline-block;
width: 100px;
vertical-align:top;
}
#commentform p input{ 
display: inline-block;
width: 240px;
height:30px;
border:solid 1px #ccc;
font:13px Arial, Helvetica, sans-serif;
color:#999;
}
#commentform p textarea{ 
display: inline-block;
height: 140px;
width: 410px;
border:solid 1px #ccc;
font:13px Arial, Helvetica, sans-serif;
color:#999;
}
#commentform p #submit{
background:#d70f00;
cursor:pointer;
display:inline-block;
width:auto;
height:30px;
font:bold 14px Arial, Helvetica, sans-serif;
color:#fff;	
line-height:30px;
padding:0 15px;
margin:0 0 0 106px;
border:none;
}
#commentform .form-allowed-tags{
margin: 0 0 0 104px;	
}
.clearfix{
clear:both;	
}
#left_box3{ 
width:99%;
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
}
.pagination_container{
margin:15px 0;
width:50%;	
}
.pagination_container ul{
padding:0;
margin:0;
list-style-type:none;
}
.pagination_container ul li{
float:right;
font:bold 14px Arial, Helvetica, sans-serif;
color:#ccc;
text-align:center;	
line-height:20px;
margin-right:10px;
border:solid 1px #ccc;
}
.pagination_container ul li.nav-next a{
width:auto;
height:auto;
display:inline-block;
color:#ccc;	
text-decoration:none;
padding:2px 12px;
}
.pagination_container ul li.nav-previous a{
float:right;
font:bold 14px Arial, Helvetica, sans-serif;
color:#ccc;	
text-decoration:none;
text-align:center;
line-height:20px;
width:auto;
height:auto;
display:inline-block;
padding:2px 12px;
}
.pagination_container ul li.nav-next a:hover{
background:#ea0000;
color:#fff;
width:auto;
height:auto;
display:inline-block;
}
.pagination_container ul li.nav-previous a:hover{
background:#ea0000;
color:#fff;
width:auto;
height:auto;
display:inline-block;
}

#comments h2{ font: 22px 'Oswald',sans-serif;}
#comments ol li article{ margin:15px 0;}
#comments ol li article .comment-meta {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #ccc;
    height: auto;
    padding: 5px;
    text-align: left;
}
#comments ol li article .comment-meta .comment-author{
	display:inline-block;
	/*width:36px;
	height:36px;
	border:solid 1px #ccc;*/
	padding:2px 0 0 2px;
	/*float:left;*/
	margin:0 15px 0 0;	
}
#comments ol li article .comment-meta .vcard{
	float:left;	
	display:inline-block;
}
#comments ol li article .comment-metadata a{
	float:left;	
	display:inline-block;
	text-decoration:none;
	color:#999;
	line-height:22px;
	font-size:11px;
	font-weight:bold;
}
#comments ol li article .comment-meta b{
    display: inline-block;
    /*float: left;
    margin: -16px 0 0 50px;*/
}
#comments ol li article .comment-meta span{
   
    display: inline-block;
    /*float: left;
    margin: -16px 0 0 91px;*/
}
#comments ol li article .comment-content p {
    margin: 20px 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
#comments ol li article .reply a{
	padding:0;
	margin:0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#2ea213;
	margin:-30px 0 0 0;	
}
.comment-author {font-weight:bold;}
.comment-author img {
	float:left;
	border: solid 3px #eee;
	padding:1px;
	margin:0 15px 0 0;
}
.comment-author a {
	color:#000;
}
#body_cotainer_part2_inner ul {
	padding:0px;
	margin:0px 0 0 20px;
}
#body_cotainer_part2_inner ul li {
	padding:3px 0;
	margin:0px;
	list-style:disc;
}
#body_cotainer_part2_inner ol {
	padding:0px;
	margin:0px 0 0 20px;
}
#body_cotainer_part2_inner ol li {
	padding:3px 0;
	margin:0px;
	list-style:decimal;
}
.comment-list {
	margin:0 !important;
}
.comment-list li {
	list-style:none !important;
}
.comment-content {clear:both; padding:10px 0 0 0;}

.pagination_container ul li{
	list-style-type:none !important;
	margin:0 10px !important;
	padding:0 !important;
}
.poll_single_title{
	color: #232323 !important;
    font-family: 'Oswald',sans-serif !important;
    font-size: 30px !important;
    line-height: 40px !important;
    padding: 10px 0 !important;
    text-transform: uppercase !important;
}